/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Playpen Sans', cursive;
*/

body{
    background-color: lightskyblue;
}
.carouselCaption{
    color: lightskyblue;
}
.contentDiv{
    margin-left: 5%;
    margin-right: 5%;
}
.carouselDiv{
    margin: 50px;
}
h1{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}
.d-block.w-100{
    border-radius: 25px;
}
.homeImages{
    width: 100%;
}
